.box-container {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  margin: 20px auto; 
  max-width: 1200px; 
}
.box {
  width: 120px; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(247, 243, 243);
}
.item-heading {
  text-decoration: none;
  color: black;
}
.box:not(:last-child) {
  margin-right: 20px; 
}
