.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
    padding: 50px;
    background-color: #f7f6f6;
    margin-left: 50px; 
  }
  .search-box {
    position: relative;
    margin-bottom: 15px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
  }
  
  .brand-container {
    display: flex;
  }
  
  .brand-box {
    width: 100px; 
    height: 100px; 
    border: 1px solid #ccc;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .more-brands {
    cursor: pointer;
  }
  
  .right-image {
    float: right;
    width: 50%; 
   
  }
  